.map-container {
  width: 80%;
  height: 500px; 
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 100px;
  overflow: hidden;

}

.leaflet-container {
  height: 100%;
  width: 100%;
}