/* .map-container {
  width: 80%;
  height: 500px; 
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 100px;
  overflow: hidden;
} */

.leaflet-container {
  height: 100%;
  width: 100%;
}

.parchment-nav {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #fff3c9;
  border: 3px solid #8b0000;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: "IM Fell DW Pica SC", serif;
}

.parchment-nav a {
  color: #8b0000; 
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 15px;
  font-family: "IM Fell DW Pica", serif;
  font-weight: normal;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.parchment-nav a:hover {
  color: #facf7f; 
  text-shadow: 0 0 5px #8b0000;
}

.parchment-nav a:active {
  color: #d2691e; 
}

.dm-hub-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dm-hub-container {
  background-color: #fefbe8;
  border: 2px solid #8b0000;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: flex; 
  gap: 20px; 
}

.player-list {
  flex: 1; 
}

.map-position {
  flex: 1; 
  width: 80%;
  height: 500px; 
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}