.home-map-container {
  width: 80%;
  height: 500px; 
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 100px;
  overflow: hidden;
}

.leaflet-container {
  height: 400px; 
  width: 100%; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.parchment-nav {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #fff3c9;
  border: 3px solid #8b0000;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: "IM Fell DW Pica SC", serif;
}

.parchment-nav a {
  color: #8b0000; 
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 15px;
  font-family: "IM Fell DW Pica", serif;
  font-weight: normal;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.parchment-nav a:hover {
  color: #facf7f; 
  text-shadow: 0 0 5px #8b0000;
}

.parchment-nav a:active {
  color: #d2691e; 
}

.dm-hub-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dm-hub-container {
  background-color: #fefbe8;
  border: 2px solid #8b0000;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.player-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-position {
  flex: 1; 
  width: 75%;
  height: 800px; 
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

button {
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 1.5rem;
  background-color: #8b0000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #8b0000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #facf7f;
  color: #8b0000;
  border-color: #facf7f;
}

button:active {
  background-color: #d40000;
  color: #fff;
  border-color: #d40000;
}

.note-section {
  margin-top: 20px;
  flex: 1;
}

.create-note-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #8b0000;
  border-radius: 5px;
}

.submit-button {
  font-size: 1.2rem;
  background-color: #8b0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #facf7f;
  color: #8b0000;
}

.submit-button:active {
  background-color: #d40000;
  color: #fff;
}